.title
  margin: 0
  font-family: "Raleway-Medium", sans-serif
  font-weight: 500
  font-size: 58px
  line-height: 100%

.text
  margin: 0

.menu
  display: flex
  align-items: center
  margin: 0
  padding: 0
  list-style: none

  &__item
    margin-right: 40px
    &:last-child
      margin-right: 0
    &:hover .menu__link
      &::after
        width: 100%

  &__link
    position: relative
    color: $white
    &::after
      content: ""
      position: absolute
      width: 0
      border-top: 2px dashed $yellow-orange
      left: 50%
      top: 120%
      transform: translateX(-50%)
      transition: width .4s

.logo
  margin-bottom: 40px
  max-width: 170px
  line-height: 0

  &__img
    width: 100%
    height: auto

.link
  padding: 20px 45px
  background-color: $yellow-orange
  color: $white
  border-radius: 0px 20px
  transition: border-radius .4s
  &:hover
    border-radius: 20px 0

.net
  line-height: 0

.icon
  width: 22px
  height: 22px

.bread-crumbs
  display: flex
  justify-content: space-between
  align-items: center
  max-width: 255px
  width: 100%

  &__link
    font-size: 14px
    line-height: 100%
    position: relative
    transition: color .4s
    &::after
      position: absolute
      content: ""
      width: 6px
      height: 9px
      clip-path: polygon(60% 50%, 50% 0, 100% 50%, 50% 100%)
      background-color: $yellow-orange
      top: 25%
      right: -40%
      transition: background-color .4s
    &:hover
      color: $yellow-orange
      &::after
        background-color: $yellow-orange
    &:last-child
      opacity: 0.5
      &:hover
        color: inherit
      &::after
        display: none

  &__excerpt
    font-size: 14px
    line-height: 100%
