.title
  margin: 0

.text
  margin: 0

.link
  padding: 20px 45px
  background-color: $yellow-orange
  text-decoration: none
  color: $white
  border-radius: 0px 20px
  transition: border-radius .4s
  &:hover
    border-radius: 20px 0
