.hero
  padding: 120px 0
  background-color: $mountain-meadow

  &__wrap
    display: flex
    justify-content: space-between
    align-items: center

  &__inner
    display: flex
    flex-direction: column

  &__inner--left
    align-items: flex-start

  &__inner--right
    padding-top: 30px
    align-items: flex-end

  &__networks
    display: flex
    flex-direction: column
    align-items: flex-start
    margin-bottom: 105px

  &__net
    margin-bottom: 30px
    &:last-child
      margin-bottom: 0

  &__icon
    fill: $white
    transition: fill .4s
    &:hover
      fill: $yellow-orange

  &__photo
    position: relative
    &--top
      margin-bottom: 70px

  &__photo-decoration
    position: relative
    min-width: 240px
    min-height: 300px
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    z-index: 1
    &--bottom
      background-image: url(../img/hero/decoration-bottom.jpg)
      border-radius: 0px 80px 0px 0px
    &--top
      background-image: url(../img/hero/decoration-top.jpg)
      border-radius: 80px 0px 0px 0px

  &__photo-dashed
    min-width: 240px
    min-height: 300px
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    position: absolute
    &--bottom
      background-image: url(../img/svg/hero-dashed-bottom.svg)
      bottom: 30px
      right: -30px
    &--top
      background-image: url(../img/svg/hero-dashed-top.svg)
      bottom: 30px
      left: -30px

  &__content
    display: flex
    flex-direction: column
    align-items: center
    max-width: 540px

  &__title
    margin-bottom: 20px
    line-height: 120%
    text-align: center
    color: $white

  &__text
    max-width: 380px
    margin-bottom: 50px
    text-align: center
    color: $white

  &__scroll
    margin-bottom: 30px
    text-decoration: none
    color: $white
    writing-mode: vertical-lr
    transform: rotate(-180deg)
    transition: color .4s
    position: relative
    scroll-behavior: smooth
    &:hover
      color: $yellow-orange
    &:hover .hero__arrow
      stroke: $yellow-orange

  &__arrow
    position: absolute
    width: 10px
    height: 18px
    transform: rotate(-180deg)
    stroke: $white
    transition: stroke .4s
    top: -25%
    left: 25%
