.hero
  padding: 120px 0
  background-color: $mountain-meadow

  &__wrap
    display: flex
    justify-content: space-between
    align-items: center

  &__inner
    display: flex
    flex-direction: column

  &__inner--left
    align-items: flex-start

  &__inner--right
    align-items: flex-end

  &__networks
    display: flex
    flex-direction: column
    align-items: flex-start
    margin-bottom: 105px

  &__net
    margin-bottom: 30px
    transition: transform .4s
    &:last-child
      margin-bottom: 0
    &:hover
      transform: scale(1.1)

  &__icon
    width: 22px
    height: auto

  &__img
    min-width: 270px
    min-height: 330px

  &__img--bottom
    background-image: url(../img/hero/decoration-bottom.png)
    background-repeat: no-repeat
    background-position: center
    background-size: cover

  &__img--top
    margin-bottom: 115px
    background-image: url(../img/hero/decoration-top.png)
    background-repeat: no-repeat
    background-position: center
    background-size: cover

  &__content
    display: flex
    flex-direction: column
    align-items: center
    max-width: 540px

  &__title
    margin-bottom: 20px
    font-family: "Raleway-Medium", sans-serif
    font-weight: 500
    font-size: 58px
    line-height: 120%
    text-align: center
    color: $white

  &__text
    max-width: 380px
    margin-bottom: 50px
    text-align: center
    color: $white

  &__scroll
    margin-bottom: 30px
    text-decoration: none
    color: $white
    writing-mode: vertical-lr
    transform: rotate(-180deg)
    position: relative
    transition: color .4s
    &::before
      content: ""
      position: absolute
      width: 8px
      height: 17px
      top: -25%
      left: 40%
      background-image: url(../img/hero/arrow-white.png)
      transform: rotate(180deg)
      transition: background-image .4s
    &:hover
      color: $yellow-orange
      &::before
        background-image: url(../img/hero/arrow-orange.png)

.logo
  margin-bottom: 40px
  max-width: 170px
  line-height: 0

  &__img
    width: 100%
    height: auto
