.numbers
  padding-top: 120px
  padding-bottom: 60px
  scroll-behavior: smooth

  &__wrap
    display: flex
    justify-content: space-between
    align-items: center

  &__card
    max-width: 225px
    display: flex
    flex-direction: column
    align-items: center

  &__title
    margin-bottom: 15px
    color: $mountain-meadow

  &__text
    font-size: 14px
    line-height: 120%
    text-align: center
